body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fafafa;
}

.App{

    width: 95vw;
    margin: 00 auto;
}

.masonary_home_head{

    font-size: 20px;
}

.css-bdcj6b-MuiButtonBase-root-MuiButton-root{

    color: #000 !important;
}