


.topbanners_section{

    margin: 00 00 00px 00;
}

.top_banner_pic{

    height: 50vh;
    position: relative;

}

.top_banner_pic img{

    width: 100%;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    object-fit: cover;

    opacity: 0.6;


}

.banner_head {
    position: absolute;
    top: 30%;
    left: 50%;
    font-weight: 600;
    font-size: 48px;
    transform: translate(-50%, -50%);
}


.banner_txt{
    position: absolute;
    top: 45%;
    left: 50%;
    font-weight: 400;
    font-size: 28px;
    transform: translate(-50%, -50%);

}

.filter_section{

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto 00 auto;
    width: 50vw;
    background-color: #fff;
    border-radius: 50px;
    position: relative;
    padding: 00 40px;
    bottom: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.filter_tab_head{

    font-size: 14px;
    font-weight: 500;
}

.filter_tab_txt{

    font-size: 12px;
    color: #858585ff;
}

.vertical_line_filter{

    border-left: 10px solid gray;
    width: 10px;
    height: 100%;
}

.filter_section_left{

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}